.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#response-container{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  color: black;
}

.binary-container{
  background-color: #f35b5b;
  width: 500px;
}

.parsed-container{
  background-color: #5bf381;
  width: 500px;
}

.btn-input{
  margin-top: 10px;
}
